<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yly.webcomic.mapper.ComicListMapper">


    <select id="selectAll" resultType="org.yly.webcomic.entity.ComicList">
        select * from comic_list
    </select>

    <select id="selectById" resultType="org.yly.webcomic.entity.ComicList">
        select * from comic_list where b_id=#{bId}
    </select>

    <select id="selectByCategory" resultType="org.yly.webcomic.entity.ComicList">
        select * from comic_list where b_category=#{cId}
    </select>

</mapper>